@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Newyork;
}

.navbar .navbar-nav .nav-item .active {
    color: #60D143;
}
.navbar .navbar-nav .nav-item {
    color: black;
}

.navbar .navbar-nav .nav-item :hover{
    color: #DFAA5B;
}


a.fas {
    position: relative;
    font-size: 20px;
    text-decoration: none;
    color: black;
}
/* .navBox{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
} */