@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar .navbar-nav .nav-item .active {
    color: #60D143;
}

.navbar .navbar-nav .nav-item :hover{
    color: #DFAA5B;
}

a.fas {
    position: relative;
    font-size: 20px;
    text-decoration: none;
    color: black;
}