nav{
  font-family: "Sofia", sans-serif;
}

.navbar .nav-link {
  color: black !important;
}

button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background:grey;
  font-size: 17px;
  border: none;
  cursor: pointer;
  }

  button:hover {
  background: aquamarine;
  }

