body{
  font-family: Poppins;
}


button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: grey;
  font-size: 17px;
  border: none;
  cursor: pointer;
  }

  button:hover {
  background: black;
  }

  .login, .image{
    min-height: 100vh
  }
  .bg-image{
    background-image: url('../../assets/signin.jpg');
    background-size: cover;
    background-position: center center
  }
  .fullp{
    margin-top: -12vh;

  }