<!DOCTYPE html>
<header>
  <title>Login</title>

  <link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>

 <link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>

</header>

<body>

  <div class="container">
    <div class="row">
        <div class="card col-md-6">
          <img src="./assets/login.jpg" alt="image">
        </div>
        
        <div class="card col-md-6">
          <div class="form-group col-md-6 text-light"
          style="background-color:transparent; border-radius:15px; box-shadow: 2px 2px 5px rgba(3,3,3,0.5);"></div>
          <form action="" method="POST">
            
            <h3>We Connect</h3>
            <br>
            <h5>Log In</h5>
            <div class="mb-3">
             
              <input type="text" class="form-control" name="username" aria-describedby="" placeholder="Enter your Username">
            </div>
           
            <div class="mb-3">
             
              <input type="password" class="form-control" name="password" placeholder="Enter your password">
            </div>
          

            <button type="submit" class="btn btn-dark">Log In</button>
          </form>

          <div class="sign-up">
            Don't have an account? <a href="#">Sign Un</a>
          </div>
        </div>  
        <br>

      </div>
  </div>
</body>


