html,
body,
header,
.view {
    height: 80vh;
}

.view{
    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.webp")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* body{
  font-family: " Poppins";
  transition: background-color .5s;
} */

footer{
  font-family: "Poppins";
}


/* button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: grey;
  font-size: 17px;
  border: none;
  cursor: pointer;
  } */

  /* button:hover {
  background: aquamarine;
  }
 */
