<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We Connect | Home</title>
    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>  
  <body>
<div class="mask">

<!--Main layout-->
<div class='image-background hero'>
  <div class='container-fluid h-100 mask' style="background-color: rgba(0, 0, 0, 0.556);">
    <div class='row h-100 align-items-center'>
      <div class='col-12 text-center'>
      <p style="height:100px"></p>
        <h1 class='display-2'>W&nbsp;E&nbsp; C&nbsp;O&nbsp;N&nbsp;N&nbsp;E&nbsp;C&nbsp;T&nbsp;</h1>
        <p style="height:10px"></p>
        <p class='lead'>Discover the perfect balance of harmony and comfort..</p>
        <p style="height:10px"></p>
      </div>
    </div>
  </div>
</div>
<div class="container">
<div class="form_book">
  <div class="row ">
    <div class="col-md-4 col-lg-4 mt-2">
      <div class="p-2 bg-white">
          <div class="d-flex flex-column">
              <div><img class="img-fluid img-responsive" src="./assets/towel.webp" width="400" height="100"></div>
             
          </div>
      </div>
  </div>

  <div class="col-md-4 col-lg-4 mt-2">
    <div class="p-2 bg-white">
        <div class="d-flex flex-column">
            <div><img class="img-fluid img-responsive" src="./assets/food.webp" width="400" height="100"></div>
            
        </div>
    </div>
</div>
<div class="col-md-4 col-lg-4 mt-2">
  <div class="p-2 bg-white">
      <div class="d-flex flex-column">
          <div><img class="img-fluid img-responsive" src="./assets/pool.webp" width="400" height="100"></div>
         
      </div>
  </div>
</div>
</div>
</div>
</div>

<!-- About us section -->
<div class="container" id="aboutUs">
  <h1 class="text-center">ABOUT US</h1>
  <section class="home-info-grey"> 
    <div class="container"> <div class="row"> 
      <div class="col-md-7"> 
        <h2 style=" font-family: Newyork">Why <span style="color: #60D143;">We Connect...</span></h2> 
        <p style="font-family: Gotham Pro;">We saw the need for convenience and decided to create a web application that allows 
          users to book hotels online, 
          after reviewing the available hotel options.  Our platform connects users to hotels.
          We Connect is an online booking platform for hotels.
           As the name, we connect users who are in search of hotels and
            hotels showcase their services!
        </p> 
      </div> 
      <div class="col-md-5 drop-cap-text"> 
        <span class="drop-cap">
          <span class="drop-cap-letter">
            E</span></span>ver wanted to book a hotel but didn’t know how to go about it?
  </div> 
</div> 
</div> 
</section>
</div>

<!-- Testimonials -->
<div class="container mt-5 mb-5">
  <h1 class="text-center">What People Say</h1>
  <div class="row g-2">
    <div class="col-md-4">
        <div class="card p-3 text-center px-4">
            
            <div class="user-image">
                
        <img src="../../assets/jojo.jpg" class="rounded-circle" width="80"
                >
                
            </div>
            
            <div class="user-content">
                
                <h5 class="mb-0">Jojo</h5>
                <span>Software Developer</span>
                <p>What a time to be a live... couldn't have thought of a better way to do this...</p>
                
            </div>
            
            <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                
            </div>
            
        </div>
    </div>
    
    <div class="col-md-4">
        
        <div class="card p-3 text-center px-4">
            
            <div class="user-image">
                
        <img src="../../assets/omondi.jpg" class="rounded-circle" width="80"
                >
                
            </div>
            
            <div class="user-content">
                
                <h5 class="mb-0">Omondi</h5>
                <span>Software Engineer</span>
                <p>Talk of convinience...the whole process was smooth and hustle free</p>
                
            </div>
            
            <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                
            </div>
            
        </div>
        
    </div>
    
    <div class="col-md-4">
        
        <div class="card p-3 text-center px-4">
            
            <div class="user-image">
                
        <img src="../../assets/sara.jpg" class="rounded-circle" width="80"
                >
                
            </div>
            
            <div class="user-content">
                
                <h5 class="mb-0">Sarah B</h5>
                <span>Software Developer</span>
                <p> Highly reccommend!</p>
                
            </div>
            
            <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                
            </div>
            
        </div>
        
    </div>
    
    
</div>
</div>

</div>

      
 <!-- Footer Section -->
<!-- <div class="container-fluid"> -->
 <footer class="footer">
  <div class="row">
      <div class="col-4 footer-navigation">
          <h3><a href="#">We<span>Connect</span></a></h3>
          <p class="links"><a href="#">Home</a><strong> &middot; </strong><a href="#">Hotels</a><strong> &middot; </strong><a href="#">About</a><strong> &middot; </strong><a href="#">Login</a><strong> &middot; </strong><a href="#">Sign Up</a><strong> &middot; </strong><a href="#">Admin</a></p>
          <p class="company-name">WeConnect &copy; 2022</p>
      </div>
      <div class="col-4 footer-contacts">
          <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
              <p><span class="new-line-span">Land Mark Plaza</span>Nairobi, Kenya</p>
          </div>
          <div><i class="fa fa-phone footer-contacts-icon"></i>
              <p class="footer-center-info email text-left"> +254 743 068 355</p>
          </div>
          <div><i class="fa fa-envelope footer-contacts-icon"></i>
              <p> <a href="#" target="_blank">communications.weconnect@gmail.com</a></p>
          </div>
      </div>
      <div class="col-4 footer-about">
        <h4>About the company</h4>
        <p>We connect you to your dream destination</p>
        <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
    </div>
      <div class="clearfix"></div>
     
  </div>
</footer>
<!-- </div>  -->
</body>