<!DOCTYPE html>
<html>
  <head>

      <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="#">WE CONNECT</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Pages</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Book Now</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Register</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Login</a>
                  </li>
                    
                </ul>
            </div>
        </div>
      </nav>
  </head>
    <br>
  <body>

      <div class="card p-5 m-4 text-center bg-image" style=" background-image: url('./assets/home.jpg');height: 100vh;">
        
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="container">
              <div class="row">
                

                <div class="text-center text-dark">
                  <h4 class="mb-3">Discover the perfect balance of harmony and comfort..</h4>
                  <p class="mb-3 mt-5">We are delighted that you have chosen our hotel.On behalf of the<br> entire team at The Don Hotel , I extend a warm welcome and trust<br> that your stay here will be enjoyable and comfortable.</p>
                  
                </div>

                <br>
                <div class="container">
                  <div class="row">
                    <div class="card col-sm-3">
                      <img src="./assets/reception.png">

                    </div>
                    <div class="card col-sm-3">
                      <img src="./assets/towels.png">

                    </div>
                    <div class="card col-sm-3">
                      <img src="./assets/dinner.png">

                    </div>
                    <div class="card col-sm-3">
                      <img src="./assets/pool.jpg">

                    </div>
                                
                  </div>  

                </div>

              </div>
            </div> 
          </div>
      </div>
    
  </body>

  <footer class="text-center text-white">
  
      <div class="container p-4 pb-0 m-3">
        <div class="row p-5 m-6" style="background-color: black">
          <div class="col-md-4">
    
            <div class="text-center p-3">
              <br>
              <br>
              
              <div class="text-white" >We Connect</div>
            </div>
          </div>  
          <div class="col-md-4">
            <ul>
                <li>Our Hotels</li>
                <li>Our Conferencing</li>
                <li>Our Company</li>
                <li>Hotel Design</li>
                <li>Careers</li>
            
            </ul>
           
          </div>
        </div>
      </div>
      
  </footer>
    
</html>
